.mine-field-beginner {
    display: grid;
    grid-template-columns: repeat(9, 5rem);
    gap: .2rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.mine-field-intermediate {
    display: grid;
    grid-template-columns: repeat(13, 5rem);
    gap: .2rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.mine-field-expert {
    display: grid;
    grid-template-columns: repeat(16, 5rem);
    gap: .2rem;
    justify-content: center;
    padding-bottom: 2rem;
}