@font-face {
  font-family: 'newpatagonia-normal';
  src: url("./fonts/NewPatagonia/NewPatagonia-Normal.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'newpatagonia-regular';
  src: url("./fonts/NewPatagonia/NewPatagonia-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "newpatagonia-normal", "newpatagonia-regular", sans-serif;
  background-color: #151617;
  color: #bdbab9;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  width: 100%; }

.app {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 1fr [full-end]; }

.title-text {
  font-size: 4rem;
  margin-bottom: 2rem; }

.secondary-title-text {
  font-size: 3rem;
  margin-bottom: 2rem; }

.text-main {
  font-size: 2rem; }

.button-main {
  background: linear-gradient(-180deg, #e7dfdd 0%, #bdbab9 100%);
  cursor: pointer;
  box-shadow: 0 1rem 1.25rem 0 black, 0 -0.25rem 1.5rem #989796 inset, 0 0.75rem 0.5rem #989796 inset, 0 0.25rem 0.5rem 0 #989796 inset;
  color: #151617;
  font-weight: bold;
  border: none;
  width: 20rem;
  border-radius: 6px;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem;
  cursor: pointer;
  justify-self: center;
  transition: all .2s; }
  .button-main:hover {
    transform: translateY(-2px) scale(1.03);
    filter: brightness(85%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); }
  .button-main:active {
    transform: translateY(-1px) scale(1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }

.start-view {
  display: grid;
  gap: 3rem; }

.start-view-times {
  display: grid;
  gap: 3rem;
  margin-bottom: 5rem; }

.game {
  display: grid;
  gap: 2rem; }

.mine-field-beginner {
  display: grid;
  grid-template-columns: repeat(9, 5rem);
  gap: .2rem;
  justify-content: center;
  padding-bottom: 2rem; }

.level-buttons {
  margin: 0rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem; }

.cell {
  width: 5rem;
  height: 5rem;
  border-radius: .3rem; }

.cell-unclicked {
  background: linear-gradient(-180deg, #e7dfdd 0%, #bdbab9 100%);
  cursor: pointer;
  box-shadow: 0 1rem 1.25rem 0 black, 0 -0.25rem 1.5rem #989796 inset, 0 0.75rem 0.5rem #989796 inset, 0 0.25rem 0.5rem 0 #989796 inset; }

.oops-mine {
  background-color: #af2d2d; }

.stats-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }
